# This is a comment

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Ignore a specific file
.streamlit/secrets.toml
/secrets/

# Log files
scraping_scripts/logs/

# Runtime files
.last_attempt
.last_ip

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/